.breedInput{
    font-family: Copperplate, Papyrus, fantasy;
    
    font-size: 30px;
    justify-content: center;
    border-radius: 5px;
   
  
}

.subBtn{
    font-family: Copperplate, Papyrus, fantasy;
    font-size: 30px;
    background-color: #35bcbf;
    border-radius: 5px;
    border: 1px solid #d0f5f7;
    cursor: pointer;
    justify-content: center;
    transform: scale(100%);
    
   
   
}

.subBtn:hover{
  background-color: #baf2f5;
  color:#263849;
  border: 1px solid #d0f5f7;
  font-size: 30px;
  transform: scale(110%);
 }

.buttonCont{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
  gap: 25px;
}